extends layout

block content
  #contact
    #banner
      img(src="/img/banner1.jpg")
    section.message
      .container
        h1 Thank you for your interest in the wraps.
        p <b>phone:</b> (787) 484-0377
        p <b>email:</b> tish@wrapitbytish.com
    #form
      .container
        h1 Contact Form
        .contact
