extends layout

block content
  #contact
    #banner
      img(src="/img/banner1.jpg")
    section.message
      .container
        h1 Thank you for your interest in the wraps.
        p <b>phone:</b> (787) 484-0377
        p <b>email:</b> tish@wrapitbytish.com
    #form
      .container
        h1 Contact Form
        .contact

//-    .navbar
      .container
        .navbar-headerphone: (787) 484-0377
          button(type="button", class="navbar-toggle", data-toggle="collapse", data-target=".navbar-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="/")
            img#logo(src="/img/logo-horizontal-small.png")
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
               a(href="/contact") Contact
