footer
  .container
    a(href="/")
      img#logo-footer(src="/img/logo-white-letters-100w.png")

    .copyright
      p phone: (787) 484-0377
      p email: tish@wrapitbytish.com
      | All rights reserved. 
      - var year = new Date().getFullYear()
      | Copyright &copy; #{year} Wrap It By Tish

