footer
  .container
    a(href="/")
      img#logo-footer(src="/img/logo-black-letters-100w.png")

    .copyright
      p <b>phone:</b> (787) 484-0377
      p <b>email:</b> tish@wrapitbytish.com
      | All rights reserved.
      - var year = new Date().getFullYear()
      | Copyright &copy; #{year} Wrap It By Tish

