extends layout

block nav

block logo
  span.logo-white

block content
  #home-hd.toggle-nav-in-ad
    include nav
    .banner-text
      .headline
        img.hidden-xs(src="/img/one-wrap-8-ways.png")
        p.visible-xs ONE WRAP
          span 8 WAYS TO WEARNE 
      .scroll-down
        p LEARN MORE
        img(src="/img/scroll-down-arrow.png")

  #home-body
    section#welcome
      .container
        h1 The Wrap is a modern versatile dress that can be converted into many fashionable styles
        p.
          It can go from the beach to a cocktail party in an instant or from day to night. It travels well,
          doesn't wrinkle and always looks fresh and chic.
          The wrap has a variety of beautiful color fabrics to choose from. The fabric has a modern drape and a comfortable feel.
          It can be converted into a multitude of styles depending on your mood, body shape or social occasion.
          Dress it up; dress it down....
          we know you'll have fun discovering your own unique ways to Wrap it!
    section#eight-styles
      .container
        h1 the 8 most popular styles
        .row
          .col.col-md-3.col-sm-3
            img(src="/img/dress1.png")
            h2 HALTER DRESS
            p.
              Slip wrap over your arms and neck, halter style.  Grab left side & push through hole under right arm.  Grab right side & wrap around     waist to tie in back.
          .col.col-md-3.col-sm-3
            img(src="/img/dress2.png")
            h2 ONE SHOULDER DRESS
            p.
              Slip wrap over right arm and neck.  Grab left side & push through hole. Grab right side & wrap around to tie in back.
          .col.col-md-3.col-sm-3
            img(src="/img/dress3.png")
            h2 ONE SHOULDER TWIST
            p.
              Slip wrap over your arms and neck, halter-style. Grab the shorter corner of fabric on your right. Cross over your body; slip it   underneath the fabric on your left shoulder and twist it around 3 times; pull up a bit to tighten.
          .col.col-md-3.col-sm-3
            img(src="/img/dress5.png")
            h2 LAYER
            p.
              Slip wrap over arms and neck, halter style.  Allow to drape loosely and adjust.
        .row
          .col.col-md-3.col-sm-3
            img(src="/img/dress6.png")
            h2 BELTED
            p.
              Slip wrap over arms and neck, halter style. Grab both sides in front. Gather and belt.
          .col.col-md-3.col-sm-3
            img(src="/img/dress7.png")
            h2 MINI KNOT
            p.
              Slip wrap over arms and neck, halter style. Grab about 2" of fabric in each hand at your bust line, and tie ends together into a small knot.
          .col.col-md-3.col-sm-3
            img(src="/img/dress4.png")
            h2 KNOTTED
            p.
              Slip wrap over arms and neck, halter style.  Grab both sides together in front.  Fold over and knot once or twice.
          .col.col-md-3.col-sm-3
            img(src="/img/dress8.png")
            h2 SHIRT
            p.
              Slip wrap over arms and neck, halter style.  Grab both sides together in front.  Lift up around hips and knot.
    section#colors
      .container
        h1 The wrap comes in 11 colors
      .row.colors
        .black.col-md-1
          .block
          p black
        .grey.col-md-1
          .block
          p grey
        .ivory.col-md-1
          .block
          p ivory
        .navy.col-md-1
          .block
          p navy
        .chocolate.col-md-1
          .block
          p chocolate
        .turquoise.col-md-1
          .block
          p turquoise
        .pink.col-md-1
          .block
          p pink
        .green.col-md-1
          .block
          p green
        .yellow.col-md-1
          .block
          p yellow
        .red.col-md-1
          .block
          p red
        .purple.col-md-1
          .block
          p purple
    section#testimonials
      .container
        h1 testimonials from our valued customers
        #owl-carousel.owl-carousel.owl-theme
          .item 
            p.
              &ldquo;I love my wrap! It's awesome! I have the maxi in black, which I like to wear either 
              as a layer or belted.  I've worn it out to art gallery openings, and as a beach cover-up.  
              The fabric is comfy and easy... I've taken it with me on several trips, and it doesn't wrinkle!&rdquo;
            h2 Nina, Kingston, PA
          .item
            p.
              &ldquo;I LOVE my "wrap-it-by-Tish!"  It is so versatile and easy to wear and wash.  Plus, the color 
              selection is awesome.  It's great for travel since you can use it in various ways which makes it possible 
              for one to take less clothing on the trip.&rdquo;
            h2 Brenda, Guaynabo, Puerto Rico
          .item
            p.
              Love my wraps. Recently went to a wedding in the Dominican Republic and had three wraps with me. 
              I wore one to the beach ceremony, a maxi out to dinner, and the other over my bathing suit.  
              Everyone asked about it and loved it.  Easy to travel with and simple to care for.   
            h2 Karen, Atlantic Beach, NY
          .item
            p.
              My "wrap-it" was the best thing I wore all summer! The fabric is fabulous!   
            h2 Jamie, Wyomissing, PA
          .item 
            p.
              Awesome concept. Tish's wraps are fun!  You can give it a creative twist and wear it 
              poolside, or you might prefer to use it long and one shouldered for a nice dinner date.  
              Great for travel, no wrinkles.  I chose mine in bright aqua, and the quality and color are top notch.  
            h2 Ileana, Guaynabo, Puerto Rico
          .item
            p.
              Very versatile and comfortable piece.  Love the colors it comes in!  
            h2 Noemi, San Juan, Puerto Rico
          .item 
            p.
              These wraps are a must-have in any wardrobe, for all body types and all ages.  
              They are versatile, easy,  travel extremely well and so fun to wear!  The colors and fabric are wonderful.  
              Thanks, Tish, for a fabulous item! I love my wrapitbytish.  
            h2 Hilary, Vermont
