extends layout

block head
  script(src="http://www.youtube.com/player_api")

block content
  #instructionalVideo
    .hd
      .container
        h1 Instructional Videos
    .container
      .row
        .col-md-3
          a.fancybox(data-fancybox-type="iframe", href="http://www.youtube.com/embed/p_STIMywonc")
            img(src="/img/video-thumbnails/1-dress.png")
            span Dress
        .col-md-3
          a.fancybox(data-fancybox-type="iframe", href="http://www.youtube.com/embed/0VEDKYcgmDw")
            img(src="/img/video-thumbnails/2-one-shoulder.png")
            span One Shoulder
        .col-md-3
          a.fancybox(data-fancybox-type="iframe", href="http://www.youtube.com/embed/FngobwyLpsY")
            img(src="/img/video-thumbnails/3-one-shoulder-twist.png")
            span One Shoulder Twist
        .col-md-3
          a.fancybox(data-fancybox-type="iframe", href="http://www.youtube.com/embed/ziHTKqwuyg4")
            img(src="/img/video-thumbnails/4-layer.png")
            span Layer
      .row
        .col-md-3
          a.fancybox(data-fancybox-type="iframe", href="http://www.youtube.com/embed/70hWLsQMTsM")
            img(src="/img/video-thumbnails/5-belted.png")
            span Belted
        .col-md-3
          a.fancybox(data-fancybox-type="iframe", href="http://www.youtube.com/embed/Ii2wmq_vqIY")
            img(src="/img/video-thumbnails/6-knotted.png")
            span Knotted
        .col-md-3
          a.fancybox(data-fancybox-type="iframe", href="http://www.youtube.com/embed/xDhfCBDryQ8")
            img(src="/img/video-thumbnails/7-mini-knot.png")
            span Mini Knot
        .col-md-3
          a.fancybox(data-fancybox-type="iframe", href="http://www.youtube.com/embed/l81CyqZNOlM")
            img(src="/img/video-thumbnails/8-shirt.png")
            span Shirt
      .row
        .col-md-3
          a.fancybox(data-fancybox-type="iframe", href="http://www.youtube.com/embed/nzDLpDdQyFw")
            img(src="/img/video-thumbnails/9-buckle.png")
            span Buckle
