nav.navbar(role="navigation")
  .container
    //- Brand and toggle get grouped for better mobile display -->
    .navbar-header
      button.navbar-toggle(type="button", data-toggle="collapse", data-target="#navbar-collapse")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="/")
        block logo
          span

    //- Collect the nav links for toggling -->
    .collapse.navbar-collapse#navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li: a(href="/instructional-videos") Instructional Videos
        li: a(href="/my-story") My Story
        li: a(href="/contact") Contact
