extends layout

block content
  #story
    .banner
      img(src="/img/red-one-shoulder.jpg")
    .bd
      .container
        h1 My Story
        img.tish(src="/img/tish_headshot-copy2.jpg")
        p.
          Tish Grosek, businesswoman, designer, and mother, embarked on an unexpected and arduous 
          journey toward reinvention, self- discovery, and entrepreneurship. During this time Tish 
          created a versatile wrap dress that, with a sleek and comfortable look, caters to women everywhere.
        p.
          Her Wrap is a unique concept for a dress that can go from day to night, or beach cover up to 
          cocktail dress, with the ease and versatility consistent with the lifestyle of today’s modern 
          day woman.  It’s poolside posh and evening elegant all wrapped up in one!  It comes in both 
          conservative and vibrant colors and is made from a high quality fabric that travels well.
        p.
          Inspired by an Italian design concept, Tish converted her dining room table into a makeshift 
          cutting board and work studio in San Juan, Puerto Rico. After weeks of hand cutting fabric on her 
          dining room table, community recognition and acclaim through rapid word of mouth, persistent sales 
          in boutiques and bazaars, and a virtually instant sale of over two hundred wraps, Tish soon found a 
          mainland manufacturer and preceded to trademark her name and incorporate her company. “Wrap it by Tish” 
          was officially in business.
        p.
          This year, Tish has been an exhibitor at four major fashion apparel shows, two international swimwear 
          trade shows and currently sells to over 25 boutiques in St Barthes, Aruba, Dominican Republic, Puerto Rico, 
          Jamaica, Mexico, Florida, Canada, Pennsylvania, online with opensky.com, and plans to continue with her 
          expansion. Visit her website, www.wrapitbytish.com
        p.
          Tish is a native of Kingston, Pennsylvania, has lived in New York City and New Jersey, raised her two 
          children in San Juan, Puerto Rico, and currently resides in the suburbs of Philadelphia.
        p.
          Annual proceeds of the wrap dress will be donated to the alumni scholarship fund for Clearbrook Manor in Wilkes-Barre Pa.
