extends layout

block content
  #story
    .banner
      img(src="/img/banner2.jpg")
    .bd
      .container
        h1 My Story
        img.tish(src="/img/tish.jpg")
        p.
          As woman, we are constantly changing and evolving. Our roles as wife, mother, partner,
          and provider continue to inspire and challenge us. This past year, I’ve embarked on my own
          journey of self-discovery that has brought me on an exciting and arduous new path that I never
          anticipated walking down! I turned 50, became an empty nester, divorced, relocated from Puerto
          Rico back to the U.S. and became an Entrepreneur.
        p.
          I found a design concept that inspired me to create a product that is so versatile it will cater to
          most women’s busy lifestyles. The Wrap is a garment that converts into a variety of fashionable
          styles and designs. It can go from the beach to a cocktail party in an instant or from day to night
          with ease. The fabric has a smooth modern drape, it has a soft and comfortable feel, doesn’t
          wrinkle, so it will travel well, and comes in a variety of gorgeous colors.
        p.
          Designing and launching The Wrap has been an exciting and creative project. It has helped give
          me the confidence to embark on the next phase in my life. It has allowed me to believe in myself,
          follow the passion that I’ve always had for fashion, and find a new peace and happiness.
        p.
          The Wrap is manufactured in the U.S.A. and is currently selling in specialty boutiques on the
          East Coast and Puerto Rico. I have hopes to expand nationally.
        p.
          Enjoy your wrap!
        p.
          Tish
        p.
          An annual donation from The Wrap proceeds is designated for the Clearbrook Manor Scholarship
          Fund in Wilkes-Barre, Pa.
