@base-url: "/fonts";

/*
@font-face{
	font-family: 'proximaNovaLightItalic';
	@folder: 'proximaNovaLightItalic';
	@name: 'proximanova-lightitalic-webfont';
	src: url("@{base-url}/@{folder}/@{name}.eot");
   	src: url("@{base-url}/@{folder}/@{name}.eot?#iefix") format('embedded-opentype'),
     	     url("@{base-url}/@{folder}/@{name}.woff") format('woff'),
     	     url("@{base-url}/@{folder}/@{name}.ttf") format('truetype'),
     	     url("@{base-url}/@{folder}/@{name}.svg#proxima_novalight_italic") format('svg');
}

@font-face{
	font-family: 'proximaNovaItalic';
	@folder: 'proximaNovaItalic';
	@name: 'proximaNovaItalic';
	src: url("@{base-url}/@{folder}/@{name}.eot");
   	src: url("@{base-url}/@{folder}/@{name}.eot?#iefix") format('embedded-opentype'),
     	     url("@{base-url}/@{folder}/@{name}.woff") format('woff'),
     	     url("@{base-url}/@{folder}/@{name}.ttf") format('truetype'),
     	     url("@{base-url}/@{folder}/@{name}.svg#") format('svg');
}



@font-face{
	font-family: 'proximaNovaBlack';
	@folder: 'proximaNovaBlack';
	@name: 'ProximaNova-Black';
	src: url("@{base-url}/@{folder}/@{name}.eot");
   	src: url("@{base-url}/@{folder}/@{name}.eot?#iefix") format('embedded-opentype'),
     	     url("@{base-url}/@{folder}/@{name}.woff") format('woff'),
     	     url("@{base-url}/@{folder}/@{name}.ttf") format('truetype'),
     	     url("@{base-url}/@{folder}/@{name}.svg#") format('svg');
}
*/

@font-face {
    font-family: 'avenirRoman';
    @folder: 'avenirRoman';
    @name: 'avenir-roman';
    src: url('@{base-url}/@{folder}/@{name}.eot');  /* IE9 Compat Modes */
    src: url('@{base-url}/@{folder}/@{name}.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('@{base-url}/@{folder}/@{name}.woff') format('woff'),  /* Modern Browsers */
         url('@{base-url}/@{folder}/@{name}.ttf') format('truetype'),   /* Safari, Android, iOS */
         url('@{base-url}/@{folder}/@{name}.svg#avenir') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'avenirMedium';
    @folder: 'avenirMedium';
    @name: 'avenir-medium';
    src: url('@{base-url}/@{folder}/@{name}.eot');  /* IE9 Compat Modes */
    src: url('@{base-url}/@{folder}/@{name}.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('@{base-url}/@{folder}/@{name}.woff') format('woff'),  /* Modern Browsers */
         url('@{base-url}/@{folder}/@{name}.ttf') format('truetype'),   /* Safari, Android, iOS */
         url('@{base-url}/@{folder}/@{name}.svg#avenir') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'avenirLight';
    @folder: 'avenirLight';
    @name: 'avenir-light';
    src: url('@{base-url}/@{folder}/@{name}.eot');  /* IE9 Compat Modes */
    src: url('@{base-url}/@{folder}/@{name}.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('@{base-url}/@{folder}/@{name}.woff') format('woff'),  /* Modern Browsers */
         url('@{base-url}/@{folder}/@{name}.ttf') format('truetype'),   /* Safari, Android, iOS */
         url('@{base-url}/@{folder}/@{name}.svg#avenir') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'proximaNovaBold';
    @folder: 'proximaNovaBold';
    @name: 'proximanova-bold';
    src: url('@{base-url}/@{folder}/@{name}-webfont.eot');  /* IE9 Compat Modes */
    src: url('@{base-url}/@{folder}/@{name}-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('@{base-url}/@{folder}/@{name}-webfont.woff') format('woff'),  /* Modern Browsers */
         url('@{base-url}/@{folder}/@{name}-webfont.ttf') format('truetype'),   /* Safari, Android, iOS */
         url('@{base-url}/@{folder}/@{name}-webfont.svg#proxima_nova_bold') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'proximaNova';
    @folder: 'proximaNova';
    @name: 'proximanova-regular';
    src: url('@{base-url}/@{folder}/@{name}-webfont.eot');  /* IE9 Compat Modes */
    src: url('@{base-url}/@{folder}/@{name}-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('@{base-url}/@{folder}/@{name}-webfont.woff') format('woff'),  /* Modern Browsers */
         url('@{base-url}/@{folder}/@{name}-webfont.ttf') format('truetype'),   /* Safari, Android, iOS */
         url('@{base-url}/@{folder}/@{name}-webfont.svg#proxima_nova_rgregular') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

@font-face{
	font-family: 'proximaNovaLight';
	@folder: 'proximaNovaLight';
	@name: 'proximanova-light-webfont';
	src: url("@{base-url}/@{folder}/@{name}.eot");
   	src: url("@{base-url}/@{folder}/@{name}.eot?#iefix") format('embedded-opentype'),
     	     url("@{base-url}/@{folder}/@{name}.woff") format('woff'),
     	     url("@{base-url}/@{folder}/@{name}.ttf") format('truetype'),
     	     url("@{base-url}/@{folder}/@{name}.svg#proxima_novalight") format('svg');
}

@font-face{
	font-family: 'codeBold';
	@folder: 'codeBold';
	@name: 'CODE-Bold';
	src: url("@{base-url}/@{folder}/@{name}.eot");
   	src: url("@{base-url}/@{folder}/@{name}.eot?#iefix") format('embedded-opentype'),
     	     url("@{base-url}/@{folder}/@{name}.woff") format('woff'),
     	     url("@{base-url}/@{folder}/@{name}.ttf") format('truetype'),
     	     url("@{base-url}/@{folder}/@{name}.svg#") format('svg');
}

@font-face{
	font-family: 'montserrat';
	@folder: 'montserrat';
	@name: 'montserrat-regular';
	src: url("@{base-url}/@{folder}/@{name}-webfont.eot");
   	src: url("@{base-url}/@{folder}/@{name}-webfont.eot?#iefix") format('embedded-opentype'),
     	     url("@{base-url}/@{folder}/@{name}-webfont.woff") format('woff'),
     	     url("@{base-url}/@{folder}/@{name}-webfont.ttf") format('truetype'),
     	     url("@{base-url}/@{folder}/@{name}-webfont.svg#") format('svg');
}

@font-face{
	font-family: 'montserratBold';
	@folder: 'montserrat';
	@name: 'montserrat-bold';
	src: url("@{base-url}/@{folder}/@{name}-webfont.eot");
   	src: url("@{base-url}/@{folder}/@{name}-webfont.eot?#iefix") format('embedded-opentype'),
     	     url("@{base-url}/@{folder}/@{name}-webfont.woff") format('woff'),
     	     url("@{base-url}/@{folder}/@{name}-webfont.ttf") format('truetype'),
     	     url("@{base-url}/@{folder}/@{name}-webfont.svg#") format('svg');
}
